body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: thistle;
    
    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
   
}

#quiz{
    justify-content: center;
    align-items: center;
}
