body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
    
    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizArea {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
 
   
}

#quiz{
    justify-content: center;
    align-items: center;
}
#timer{
    margin: 8px;
    background-color: brown;
    color: white;
}
.button{
    background-color: brown;
    margin: 10px;
    color: white;
    

}
.hide{
    display : none;
}
