body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: thistle;
    
    
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizArea {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lavenderblush;
   
}

#quiz{
    justify-content: center;
    align-items: center;
}

.button{
    background-color: white;
    margin: 10px;
    

}
.hide{
    display : none;
}
